.blink {
    -webkit-animation: blinking 1s linear infinite alternate;
    -moz-animation: blinking 1s linear infinite alternate;
    -o-animation: blinking 1s linear infinite alternate;
    animation: blinking 1s linear infinite normal alternate;
}

@-webkit-keyframes blinking {
    0%{
        background-color: hsl(200, 20%, 70%);
    }

    100%{
        background-color: hsl(200, 20%, 95%);
    }
}

@-moz-keyframes blinking {
    0%{
        background-color: hsl(200, 20%, 70%);
    }

    100%{
        background-color: hsl(200, 20%, 95%);
    }
}

@-o-keyframes blinking {
    0%{
        background-color: hsl(200, 20%, 70%);
    }

    100%{
        background-color: hsl(200, 20%, 95%);
    }
}

@keyframes blinking {
    0%{
        background-color: hsl(200, 20%, 80%);
    }

    100%{
        background-color: hsl(200, 20%, 90%);
    }
}